.DS_Store
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.egg-info/
*.pyc
.venv/
build/
dist/
htmlcov/
.coverage
dev.db

clients/qipaishi_app/.dart_tool/
clients/qipaishi_app/.flutter-plugins
clients/qipaishi_app/.flutter-plugins-dependencies
clients/qipaishi_app/build/
clients/qipaishi_app/.packages

